<div class="container-fluid">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div clas="col-lg-10">
            <ul>
                <li>
                    <h1>Trabajo 1</h1>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, aliquam recusandae placeat quae sit illo aperiam nisi inventore voluptatibus delectus unde neque praesentium alias veniam reprehenderit omnis aspernatur sed molestias?</p>
                </li>
                <li>
                    <h1>Trabajo 2</h1>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, aliquam recusandae placeat quae sit illo aperiam nisi inventore voluptatibus delectus unde neque praesentium alias veniam reprehenderit omnis aspernatur sed molestias?</p>
                </li>
                <li>
                    <h1>Trabajo 3</h1>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, aliquam recusandae placeat quae sit illo aperiam nisi inventore voluptatibus delectus unde neque praesentium alias veniam reprehenderit omnis aspernatur sed molestias?</p>
                </li>
                <li>
                    <h1>Trabajo 4</h1>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, aliquam recusandae placeat quae sit illo aperiam nisi inventore voluptatibus delectus unde neque praesentium alias veniam reprehenderit omnis aspernatur sed molestias?</p>
                </li>
            </ul>
        </div>
    </div>
</div>
