<div class="container-fluid">
    <h1>Proyectos Realizados</h1>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7" id="descripcción">
            <h1>Pagina HTML</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores commodi repudiandae cum delectus assumenda totam autem pariatur dolorum, quia unde quasi, iusto tempora impedit aliquam iure placeat corrupti hic neque minus. Sapiente recusandae ratione quae officiis id, sequi fuga velit dolorum? Iure labore beatae laborum harum expedita perferendis a nulla.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3" id="imagen_proyecto">
            <img src="../../../assets/proyectos/pagHTML.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
