<div class="container-fluid">
    <div class="row">
        <h1>Hard y Soft Skills</h1>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#38bbc3'"
                [innerStrokeColor]="'#ae3452'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#38bbc3'"
                [innerStrokeColor]="'#ae3452'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#38bbc3'"
                [innerStrokeColor]="'#ae3452'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#38bbc3'"
                [innerStrokeColor]="'#ae3452'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#38bbc3'"
                [innerStrokeColor]="'#ae3452'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#38bbc3'"
                [innerStrokeColor]="'#ae3452'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
            </div>
    </div>
</div>
