<div class="container-fluid" id="encabezado">
    <div>
        <img src="../../../assets/iconos_header/APLogo.png" class="logo">
    </div>
    <div class="redes">
        <div id="ingreso">
            <a href="/login"><img src="../../../assets/iconos_header/ingreso.png" alt="" srcset=""></a>
        </div>
        <div id="social">
            <a href="http://"><img src="../assets/iconos_header/facebook.png" alt=""></a>
            <a href="http://"><img src="../assets/iconos_header/instagram.png" alt=""></a>
            <a href="http://"><img src="../assets/iconos_header/linkedin.png" alt=""></a>
            <a href="http://"><img src="../assets/iconos_header/github.png" alt=""></a>
        </div>
    </div>
</div>

<div class="container-fluid" id="banner">
    <div>
        <img src="../../../assets/iconos_header/banner2.jpg" alt="" class="img-fluid">
    </div>
    <div class="titulo">
        <div id="listado">
            <p class="p1">Mi Portafolio</p>
            <p class="p2">My Porfolio</p>
        </div>
        <ngx-typed-js class="efectoEscritura"
        [stringsElement]="'#listado'"
        [showCursor]="true"
        [startDelay]="1000"
        [typeSpeed]= "75"
        [backSpeed]="75"
        [smartBackspace]="true"
        [cursorColor]="'.p1'">
        <span class="typing"></span>
    </ngx-typed-js>
    </div>
</div>
